<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Service Type</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <nz-select formControlName="serviceTypeControl">
        <nz-option
          *ngFor="let serviceType of serviceTypes$ | async"
          [nzLabel]="serviceType.name"
          [nzValue]="serviceType.id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Desired Move Date</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <nz-date-picker formControlName="moveDateControl"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Size of Move</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <nz-select formControlName="homeControl">
        <nz-option
          *ngFor="let homeType of homeTypes$ | async"
          [nzLabel]="homeType.name"
          [nzValue]="homeType.id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6">Extra Rooms</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <nz-select
        formControlName="roomsControl"
        nzMode="multiple"
        nzPlaceHolder="Select extra rooms"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
      >
        <nz-option
          *ngFor="let room of rooms$ | async"
          [nzLabel]="room.name"
          [nzValue]="room.id"
        ></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6">Addresses</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <crm-address-input formControlName="addressControl"></crm-address-input>
    </nz-form-control>
  </nz-form-item>

  <nz-divider nzText="Client info" nzOrientation="left"></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>First name</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <input nz-input placeholder="first name" formControlName="firstNameControl" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Last name</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <input nz-input placeholder="last name" formControlName="lastNameControl" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <input
        nz-input
        placeholder="email"
        formControlName="emailControl"
        (change)="onEmailChanged($event)"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Phone</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <input
        nz-input
        placeholder="phone"
        formControlName="phoneControl"
        (change)="onPhoneChanged($event)"
      />
    </nz-form-control>
  </nz-form-item>
</form>