<nz-page-header [nzBackIcon]="menuIcon" (nzBack)="collapseMenu()">
  <nz-page-header-title>
    <h2>{{ heading }}</h2>
  </nz-page-header-title>

  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="showCreateRequestModal()">
      Create request
    </button>

    <a routerLink="/profile">
      {{ (user$ | async)?.email }}
      <nz-avatar
        nzSize="large"
        nzIcon="user"
      ></nz-avatar>
    </a>

    <button nz-button nzType="primary" nzDanger (click)="logout()">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
    </button>
  </nz-page-header-extra>
</nz-page-header>

<crm-create-request-modal
  [isVisible]="createRequestModalVisible"
  (onClose)="hideCreateRequestModal()"
></crm-create-request-modal>
