.container {
  max-width: 500px;
}

.row {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
  
  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.zip-code-input,
.number-of-floors-input {
  max-width: 100px;
}
.number-of-floors-input {
  margin-right: 8px;
}