<div class="container">
  <div class="row">
    <nz-select
      nzPlaceHolder="Select address"
      nzAllowClear
      nzShowSearch
      nzServerSearch
      [(ngModel)]="place_id"
      (ngModelChange)="onAddressChange($event)"
      (nzOnSearch)="onAddressSearch($event)"
    >
      <ng-container *ngFor="let address of addresses">
        <nz-option *ngIf="!addressIsSearching" [nzValue]="address.place_id" [nzLabel]="address.description"></nz-option>
      </ng-container>
      <nz-option *ngIf="addressIsSearching" nzDisabled nzCustomContent>
        <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
      </nz-option>
    </nz-select>
  </div>
  <div class="row">
    <span>Number of floor:</span>
    <input
      class="number-of-floors-input"
      type="number"
      min='0'
      placeholder="number of floor"
      nz-input
      [value]="numberOfFloor"
      (input)="onNumberOfFloorChanged($event)"
    />
    <label
      nz-checkbox
      [(ngModel)]="withElevator"
      [nzDisabled]="withElevatorCheckboxDisabled"
    >with elevator</label>
  </div>
</div>