<nz-spin [nzSpinning]="loading">
  <form @loading nz-form (ngSubmit)="save()" *ngIf="settings.length > 0">
    <nz-form-item *ngFor="let setting of settings">
      <nz-form-label [nzSpan]="3" nzRequired [nzFor]="setting.slug">
        <span>{{ setting.name }}</span>
        <i nz-icon nz-tooltip [nzTooltipTitle]="setting.description" nzType="question-circle" nzTheme="outline"></i>
      </nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input [name]="setting.slug" type="text" [value]="setting.value">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="6" [nzOffset]="3">
        <button nz-button nzType="primary">Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>