<button class="create-button" nz-button nzType="primary" (click)="showCreateRoomModal()">
  <i nz-icon nzType="plus" nzTheme="outline"></i> Add Room
</button>

<nz-table
  #table
  nzBordered
  [nzData]="rooms"
  [nzLoading]="loading"
  [nzFrontPagination]="false"
  [nzTotal]="totalResults"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzWidth="30%">Room type name</th>
      <th nzWidth="40%">Description</th>
      <th nzWidth="20%">Active</th>
      <th nzWidth="10%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of table.data">
      <td>{{ room.name }}</td>
      <td>{{ room.description }}</td>
      <td>{{ room.active }}</td>
      <td>
        <button
          nz-button
          nzType="link"
          nzShape="circle"
          (click)="showUpdateRoomModal(room)"
        >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button
          nz-button
          nzDanger
          nzType="link"
          nzShape="circle"
          (click)="showDeleteConfirmModal(room.id)"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
