<nz-card [nzTitle]="title" [nzActions]="[actionEdit, actionDelete]">
  <nz-descriptions [nzColumn]="1">
    <nz-descriptions-item *ngIf="hasDescription" nzTitle="Description">{{ description }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Volume">{{ volume }} cubic feet</nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<ng-template #actionEdit>
  <i nz-icon nzType="edit" (click)="emitEdit()"></i>
</ng-template>
<ng-template #actionDelete>
  <i nz-icon nzType="delete" (click)="emitDelete()"></i>
</ng-template>