<button class="create-button" nz-button nzType="primary" (click)="showCreateModal()">
  <i nz-icon nzType="plus" nzTheme="outline"></i> Add Home
</button>

<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div
      nz-col
      [nzXXl]="6"
      [nzXl]="6"
      [nzLg]="8"
      [nzMd]="12"
      [nzSm]="12"
      [nzXs]="24"
      *ngFor="let homeType of homeTypes$ | async"
    >
      <nz-list-item>
        <crm-home-type-card
          [homeType]="homeType"
          (onEdit)="showEditModal($event)"
          (onDelete)="showDeleteConfirmModal($event)"
        ></crm-home-type-card>
      </nz-list-item>
    </div>
  </div>
</nz-list>
