<form nz-form [formGroup]="form" class="form" (ngSubmit)="updatePassword()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your password">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          placeholder="old password"
          autocomplete="current-password"
          formControlName="password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input correct new password">
      <input
        type="password"
        nz-input
        placeholder="new password"
        autocomplete="new-password"
        formControlName="newPassword"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input correct confirm password">
      <input
        type="password"
        nz-input
        placeholder="confirm new password"
        autocomplete="new-password"
        formControlName="confirmPassword"
      />
    </nz-form-control>
  </nz-form-item>

  <button nz-button class="form-button form-margin" nzType="primary">Update</button>
</form>
