<nz-table
  #table
  nzBordered
  [nzData]="requests"
  [nzLoading]="loading"
  [nzFrontPagination]="false"
  [nzTotal]="totalResults"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzWidth="5%">№</th>
      <th nzWidth="10%">Status</th>
      <th nzWidth="5%">Lead source</th>
      <th nzWidth="8%">Service type</th>
      <th nzWidth="8%">Move Date</th>
      <th nzWidth="10%">Customer</th>
      <th nzWidth="10%">Phone</th>
      <th nzWidth="10%">Moving From</th>
      <th nzWidth="10%">Moving To</th>
      <th nzWidth="10%">Home Type</th>
      <th nzWidth="7%">C.F. / LBS</th>
      <th nzWidth="7%">Assigned</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of table.data" (dblclick)="goToRequest(request.id)">
      <td> {{ request.number }} </td>
      <td>
        <nz-tag nzColor="red">{{ request.status.name }}</nz-tag>
      </td>
      <td>
        <nz-badge [nzCount]="request.leadScore" nzShowZero></nz-badge>
      </td>
      <td>{{ request.serviceType.name }}</td>
      <td>{{ request.moveDate }}</td>
      <td>{{ request.client.firstName + ' ' + request.client.lastName }}</td>
      <td>{{ request.client.phone }}</td>
      <td>{{ request.origin.address }}</td>
      <td>{{ request.destination.address }}</td>

      <td> {{ request.home.name }} </td>
      <td> {{ request.salesWeight }} </td>
      <td> {{ request.assignedManager }} </td>
    </tr>
  </tbody>
</nz-table>