<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>Name</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="20">
      <input formControlName="name" nz-input />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">Description</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <textarea rows="4" nz-input formControlName="description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">Rooms</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <nz-select
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Select rooms"
        formControlName="rooms"
      >
        <nz-option *ngFor="let room of rooms" [nzLabel]="room.name" [nzValue]="room.id"></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>Volume</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <nz-input-number formControlName="volume" [nzMin]="1" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">Active</nz-form-label>
    <nz-form-control [nzSpan]="20">
      <nz-switch formControlName="active"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>