<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>First name</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="18">
      <input formControlName="firstName" nz-input autocomplete="given-name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Last Name</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input formControlName="lastName" nz-input autocomplete="family-name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input formControlName="email" nz-input autocomplete="email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Phone</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input formControlName="phone" nz-input autocomplete="tel" />
    </nz-form-control>
  </nz-form-item>
</form>