<button
  class="create-button"
  nz-button
  nzType="primary"
  (click)="showCreateModal()"
>
  <i nz-icon nzType="plus" nzTheme="outline"></i> Add User
</button>

<nz-table
  #table
  [nzData]="users"
  [nzLoading]="loading"
  [nzFrontPagination]="false"
  [nzTotal]="totalResults"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzWidth="20%">First name</th>
      <th nzWidth="20%">Last Name</th>
      <th nzWidth="20%">Phone</th>
      <th nzWidth="20%">Email</th>
      <th nzWidth="10%">Email Verified</th>
      <th nzWidth="5%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of table.data">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.email }}</td>
      <td>
        <i
          nz-icon
          [nzType]="user.emailVerified ? 'check-circle' : 'stop'"
          nzTheme="twotone"
          [nzTwotoneColor]="
            colorsConstants[user.emailVerified ? 'success' : 'danger']
          "
        ></i>
      </td>
      <td>
        <button
          nz-button
          nz-dropdown
          [nzDropdownMenu]="menu1"
          nzPlacement="bottomRight"
        >
          <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="showUpdateModal(user)">Edit</li>
            <li nz-menu-item (click)="showDeleteConfirmModal(user.id)">
              Delete
            </li>
            <li nz-menu-item>Update password</li>
            <li nz-menu-item>Send email verification</li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
  </tbody>
</nz-table>
