.color-picker {
  position: relative;

  &__preview {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 10;

    animation: 300ms ease-in fade;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
