<button class="create-button" nz-button nzType="primary" (click)="showCreateModal()">
  <i nz-icon nzType="plus" nzTheme="outline"></i> Add Home
</button>

<nz-list [nzLoading]="loading" nzBordered nzItemLayout="vertical">
  <nz-list-item *ngFor="let homeType of homeTypes$ | async">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        {{ homeType.name }}
        <i
          nz-icon
          [nzType]="homeType.active ? 'check-circle' : 'stop'"
          nzTheme="twotone"
          [nzTwotoneColor]="colorsConstants[homeType.active ? 'success' : 'danger']"
        ></i>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description *ngIf="homeType.description !== null">
        {{ homeType.description }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    
    <h4>Rooms</h4>
    <ul>
      <li *ngFor="let room of homeType.rooms">
        {{ room.name }}
      </li>
    </ul>

    <h4>Volume</h4>
    <div>{{ homeType.volume }}</div>

    <ul nz-list-item-actions>
      <nz-list-item-action>
        <button nz-button nzType="link" nzShape="circle" (click)="showUpdateModal(homeType)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
      </nz-list-item-action>
      <nz-list-item-action>
        <button nz-button nzDanger nzType="link" nzShape="circle" (click)="showDeleteConfirmModal(homeType.id)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </nz-list-item-action>
    </ul>
    <nz-list-item-extra>
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>
