<button class="create-button" nz-button nzType="primary" (click)="showCreateHomeModal()">
  <i nz-icon nzType="plus" nzTheme="outline"></i> Add Home
</button>

<nz-table
  #table
  nzBordered
  [nzData]="houses"
  [nzLoading]="loading"
  [nzFrontPagination]="false"
  [nzTotal]="totalResults"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzWidth="20%">Home Type Name</th>
      <th nzWidth="30%">Description</th>
      <th nzWidth="20%">Rooms</th>
      <th nzWidth="20%">Active</th>
      <th nzWidth="10%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let home of table.data">
      <td>{{ home.name }}</td>
      <td>{{ home.description }}</td>
      <td>
        <span *ngFor="let room of home.rooms">
          {{ room.name }}
        </span>
      </td>
      <td>
        <i
          nz-icon
          [nzType]="home.active ? 'check-circle' : 'stop'"
          nzTheme="twotone"
          [nzTwotoneColor]="colorsConstants[home.active ? 'success' : 'danger']"
        ></i>
      </td>
      <td>
        <button
          nz-button
          nzType="link"
          nzShape="circle"
          (click)="showUpdateHomeModal(home)"
        >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button
          nz-button
          nzDanger
          nzType="link"
          nzShape="circle"
          (click)="showDeleteConfirmModal(home.id)"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
