<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="login()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your correct email!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="email" placeholder="email" autocomplete="email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="password"
          autocomplete="current-password"
          formControlName="password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button login-form-margin" nzType="primary">Log in</button>
</form>